n8n Google Drive MCP.json
{
  "name": "Google Drive MCP",
  "nodes": [
    {
      "parameters": {
        "content": "## Retrieve the data from DB\nInside Chatbot",
        "height": 512,
        "width": 900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        1440
      ],
      "typeVersion": 1,
      "id": "226a7878-0652-4553-ad81-1bfa88cb8755",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Add the Data to Vector Db\n",
        "height": 736,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        48
      ],
      "typeVersion": 1,
      "id": "ae499f27-ad7d-4c4d-acde-8c5bbef1e396",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -992,
        1584
      ],
      "id": "3173a7e2-ffda-430e-84f5-1e61822ff4d7",
      "name": "When chat message received",
      "webhookId": "970120ca-bb27-4bcd-805f-87f4a331b2a1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a professional, friendly, and helpful support agent for Data-To-Biz. When a user asks a question, your job is to:\n\nUnderstand the user's intent clearly by analyzing the question.\n\nRetrieve relevant documents or knowledge from the RAG tool to gather factual, up-to-date, and accurate information.\n\nGenerate a concise, clear, and friendly response based only on the retrieved information and any known policies. You are connected to Google Drive MCP server\n\nIf the answer is not available or uncertain, admit it honestly and offer to escalate or follow up.\n\nAlways maintain a polite and empathetic tone. If the user is frustrated, acknowledge their concern and reassure them you're here to help.\n\nIf multiple pieces of information are retrieved, prioritize based on relevance and recency.\n\nDo not hallucinate answers. Only respond with what's retrieved or well-known facts.\n\nUse this structure in your responses:\n\nShort summary/answer\n\nHelpful detail or example if needed\n\nOptional next step, link, or escalation info\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -720,
        1584
      ],
      "id": "d072e3f9-3906-48e2-a960-1d97b0dca167",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -640,
        1808
      ],
      "id": "a02b6397-8c66-4c1b-8f11-cfcdfc0b4574",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "datatobiz-chat-knowledge",
          "mode": "list",
          "cachedResultName": "datatobiz-chat-knowledge"
        },
        "options": {
          "pineconeNamespace": "datatobiz-knowledge-base"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -512,
        192
      ],
      "id": "4cb1d36e-fc0c-453c-8e5a-4cf3334c0030",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Oq2SU1HcANXCm60b",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -544,
        416
      ],
      "id": "894bb867-6025-407e-a6c2-142572a90f38",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kKC1ioeVn2jlAlBu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -416,
        416
      ],
      "id": "ff7b5141-1bc0-4043-a290-055dab2b653a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 10000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -336,
        624
      ],
      "id": "a33b8399-f156-4121-b68a-01387b626406",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "name": "gdrive",
        "description": "Use this tool to answer users questions from the data"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -896,
        848
      ],
      "id": "aa072359-0c73-401d-a7c9-1052512852a2",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "datatobiz-chat-knowledge",
          "mode": "list",
          "cachedResultName": "datatobiz-chat-knowledge"
        },
        "options": {
          "pineconeNamespace": "=datatobiz-knowledge-base"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -992,
        1056
      ],
      "id": "2ba59e1b-f28e-404f-a116-b1724672ba3a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "Oq2SU1HcANXCm60b",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        1264
      ],
      "id": "504037e1-17c6-4a48-8a0d-bbc18af88ced",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "kKC1ioeVn2jlAlBu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        192
      ],
      "id": "25cf1866-7114-4b57-a6d8-dc7ddda0c6a9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtxZVN8PXJ7uVTsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        1808
      ],
      "id": "28bc8b86-331b-4f13-b0e0-54a8d0a04b89",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8Zv2lCuKwhCz3NxL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -704,
        1056
      ],
      "id": "05203a98-2906-4cfa-a9e8-2ff9b1fd988a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "8Zv2lCuKwhCz3NxL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1qqZrUFfhnINLRKxoAoWpebo_FxWMX8zi",
          "mode": "list",
          "cachedResultName": "DatatoBiz Knowledge Base ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qqZrUFfhnINLRKxoAoWpebo_FxWMX8zi"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        288
      ],
      "id": "cd111ed8-7ebd-45dc-b7f0-1d7e83bbc11f",
      "name": "Google Drive Trigger file update",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtxZVN8PXJ7uVTsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1qqZrUFfhnINLRKxoAoWpebo_FxWMX8zi",
          "mode": "list",
          "cachedResultName": "DatatoBiz Knowledge Base ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qqZrUFfhnINLRKxoAoWpebo_FxWMX8zi"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        96
      ],
      "id": "092aa71b-6960-4bcc-ba1a-53b62c7fe321",
      "name": "Google Drive Trigger file created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtxZVN8PXJ7uVTsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "path": "vector-datatobiz"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        -880,
        624
      ],
      "id": "728cb605-bfe1-4ecd-ae0c-079313771805",
      "name": "Gdrive Chat MCP Trigger",
      "webhookId": "013a0b27-2798-48dc-8f26-c93b818081ea"
    },
    {
      "parameters": {
        "endpointUrl": "https://jayef.app.n8n.cloud/mcp/vector-datatobiz",
        "serverTransport": "httpStreamable"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -512,
        1808
      ],
      "id": "2af5083a-01aa-43fc-b02d-9216d62728a9",
      "name": "Gdrive Chat MCP Client"
    },
    {
      "parameters": {
        "content": "## Retrieve the data from DB\nWith MCP\n",
        "height": 928,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        480
      ],
      "typeVersion": 1,
      "id": "9ea52593-3ba6-44d9-838a-7ba4ecdcf4f1",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Gdrive Chat MCP Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger file update": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger file created": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gdrive Chat MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31b90487-2949-42e7-a697-6488252abd32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c83eebf7108de6280a56c9a856e5d74bd6d9fc0f8603d055231a266f837793a"
  },
  "id": "UWFuwcs0sM9uxAwM",
  "tags": []
}